<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LegalOrg" value="CMG"/>
		<add key="FromDate" value="2022-01-01"/>
		<add key="ToDate" value="2022-12-31"/>
		<add key="Version" value="V10"/>
		<add key="MeasureList" value="CMS68v11"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
