<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LegalOrg" value="CMG"/>
		<add key="FromDate" value="2024-03-01"/>
		<add key="ToDate" value="2024-05-30"/>
		<add key="Version" value="V12"/> <!--V10 for 2022, V11 for 2023, V12 for 2024-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
