<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      --><!--<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        --><!--<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>--><!--
        --><!--<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          --><!--<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>--><!--
        </sectionGroup>--><!--
      </sectionGroup>--><!--
    </sectionGroup>-->
  </configSections>
  <appSettings>
    <add key="SPATTERN" value="*.tif" />
    <add key="PatientSummaryMinValue" value="2" />
    <add key="PatientSummaryMaxValue" value="5" />
    <add key="VersionConfiguration" value="Capella - 3.0.63.31.14" />
    <add key="AppointmentBlockColor" value="SKYBLUE" />

	  <add key="UNCPath" value="\\10.0.0.8\Acurus_Web\EHR_Documents\capella_documents_cmg_test\" />
    <add key="UNCAuthPath" value="\\192.168.101.6\Acurus" />
	  <add key="userName" value="adminuser" />
	  <add key="Domain" value="texas" />
	  <add key="Password" value="laserjet$99" />
	  <add key="ftpServerIP" value="ftp://10.0.0.8/Acurus_Web/EHR_Documents/capella_documents_cmg_test/" />
    
    <add key="UNCPathAD" value="\\192.168.101.6\Acurus\test_documents\AD\" />
    <add key="UNCAuthPathAD" value="\\192.168.101.6\Acurus" />
    <add key="userNameAD" value="administrator" />
    <add key="DomainAD" value="texas" />
    <add key="PasswordAD" value="laserjet$99" />
    <add key="ftpServerIPAD" value="ftp://192.168.101.6/test_documents/AD/" />
    <add key="ftpPassword" value="Brief$12" />
    <add key="ftpUserID" value="texas\capellaftp" />

    <add key="LocalPath" value="C:\Capella_Images" />
    <add key="AtalasoftWebControls_Cache" value="atala-capture-download/" />
    <add key="AtalasoftWebControls_CacheLifeTime" value="5" />
    <add key="CapellaConfigurationSetttings" value="C:\Capella_Documents" />
    <add key="ScanningPath_Local" value="D:\Capella_Scan" />

    <add key="138_HARVARD_AVE_ScanningPath" value="C:\Capella_Images" />
    <add key="16465_S_LAKES_PRKWY_#_250_ScanningPath" value="C:\Capella_Images" />
    <add key="1866_N_OG_AVE_#_101_ScanningPath" value="C:\Capella_Images" />
    <add key="1866_N_OG_AVE_#_102_ScanningPath" value="C:\Capella_Images" />
    <add key="1866_N_OG_AVE_#_201_ScanningPath" value="C:\Capella_Images" />
    <add key="1866_N_OG_AVE_#_202_ScanningPath" value="C:\Capella_Images" />
    <add key="1904_N_OG_AVE_ScanningPath" value="\\172.18.0.20\Shared Folder\Capella_Images" />
    <add key="430_W_BASELINE_AVE_ScanningPath" value="C:\Capella_Images" />
    <add key="585_N_MTN_AVE_STE_A_ScanningPath" value="C:\Capella_Images" />
    <add key="585_N_MTN_AVE_STE_C_ScanningPath" value="C:\Capella_Images" />
    <add key="790_E_BONITA_AVE_ScanningPath" value="C:\Capella_Images" />
    <add key="9190_HAVEN_AVE_1ST_FLR_ScanningPath" value="C:\Capella_Images" />
    <add key="CASA_COLINA_SURGERY_CTR_ScanningPath" value="C:\Capella_Images" />
    <add key="COUNTRY_OAKS_ScanningPath" value="C:\Capella_Images" />
    <add key="KINDRED_HOSPITAL_ONTARIO_ScanningPath" value="C:\Capella_Images" />
    <add key="MOUNT_SAN_ANTONIO_GARDENS_ScanningPath" value="C:\Capella_Images" />
    <add key="PILGRIM_PLACE_ScanningPath" value="C:\Capella_Images" />
    <add key="SAN_ANTONIO_HOSPITAL_ScanningPath" value="C:\Capella_Images" />
    <add key="WELLNESS_CENTER_ScanningPath" value="C:\Capella_Images" />
    <add key="CMG_LAB_AND_ANCILLARY_ScanningPath" value="C:\Capella_Images" />
    <add key="591_N_13TH_AVE_ScanningPath" value="C:\Capella_Images" />
    <add key="PatientEducationFolderName" value="\Patient Education" />
    <add key="VISFolderName" value="\Vaccination Information Statement" />
    <add key="ReportsPathName" value="C:\Capella Report" />
    <add key="WellnessNotesPathName" value="Wellness Notes" />
    <add key="CareNotesPathName" value="Care Notes" />
    <add key="AppointmentSummaryFileName" value="CMG_APPOINTMENT_SUMMARY_REPORT_" />
    <add key="AuditLogFileName" value="CMG_AUDIT_LOG_REPORT_" />
    <add key="CodersReportFacilityName" value="430 W BASELINE AVE" />
    <add key="OfficeManagerReportFileName" value="OFFICE_MANAGER_SUMMARY_REPORT_" />
    <add key="CMGAncillaryDocumentation" value="CMG_ANCILLARY_DOCUMENTATION_REPORT_" />
    <add key="Keyoti-RapidSpellWeb-LicenseKey" value="5853685F655B6760695A6B6A625B67243C3D3D4239403E3C443E44434549434B4C4C510" />
    <add key="138_HARVARD_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="1866_N_OG_AVE_#_102_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="1866_N_OG_AVE_#_201_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="1866_N_OG_AVE_#_202_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="1904_N_OG_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="430_W_BASELINE_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="790_E_BONITA_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="9190_HAVEN_AVE_1ST_FLR_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="WELLNESS_CENTER_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="591_N_13TH_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="16465_S_LAKES_PRKWY_#_250_PatEduMaterialsAndVISPath"
        value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="1866_N_OG_AVE_#_101_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="585_N_MTN_AVE_STE_A_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="585_N_MTN_AVE_STE_C_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="CASA_COLINA_SURGERY_CTR_PatEduMaterialsAndVISPath"
        value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="COUNTRY_OAKS_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="KINDRED_HOSPITAL_ONTARIO_PatEduMaterialsAndVISPath"
        value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="MOUNT_SAN_ANTONIO_GARDENS_PatEduMaterialsAndVISPath"
        value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="PILGRIM_PLACE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="SAN_ANTONIO_HOSPITAL_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
    <add key="CMGFacilityName" value="CMG LAB AND ANCILLARY 1866 #101" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="CloseWorksetPerformValidation" value="false" />
    <add key="Mapped_Location" value="\\172.18.0.113\C3PO\WORK_AREA\RCM TESTING\"/>

    <add key="IndexingBatchFileLocation" value="\\172.18.0.113\C3PO\WORK_AREA\RCM TESTING"/>


    <!--<add key="Mapped_Location" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING\"/>
    <add key="IndexingBatchFileLocation" value="\\172.18.0.113\C3PO\WORK_AREA\RCM TESTING"/>-->
    <!--<add key="IndexingBatchFileLocation" value="D:\C3PO\WORK_AREA\RCM TESTING"/>-->
    <add key="RCMftpServerIP" value="ftp://172.18.0.23:22/aindia/RCM_testing/" />
    <add key="RCMftpPassword" value="acurus@2011" />
    <add key="RCMftpUserID" value="capella" />

    <!--comments added by prabu for testing wincvs 20140804-->
    <!--<add key="Mapped_Location" value="D:\c3po\WORK_AREA\RCM TESTING\"/>-->
    <!--<add key="Mapped_Location" value="D:\"/>-->
    <!--<add key="Mapped_Location" value="\\172.16.0.20\Shared Folder\Gopal\"/>-->
    <!--<add key="Mapped_Location" value="D:\"/>-->
    <add key="ReferenceIdentificationQualifier_REF1" value="EI" />
    <add key="Interchange_Control_No_ISA13" value="000002327" />
    <add key="Ack_Req_ISA14"  value="0"/>
    <add key="RepititionSeparator_ISA11" value="^"/>
    <add key="TransactionTypeCode_BHT6" value="CH"/>
    <add key="ReferenceIdentification_BHT3" value="2327"/>
    <add key="TransactionSetControlNumberStartValue_ST2" value="2327" />
    <add key="TransactionSetPurposeCode_BHT2" value="00" />
    <add key="VersionCode_GS08" value="005010X223A2"/>
    <add key="IdentificationCodeQual_NM17" value="XX"/>
    <add key="ServiceIDQualifier_SV101"  value="HC"/>
    <add key="SubmitterEntityQualifier_NM102" value="2" />
    <add key="ResponsibleAgencyCode_GS07" value="X"/>
    <add key="SubmitterBillingEntityType_NM102" value="2" />
    <add key="ClaimStatus" value="OPEN"/>
    <add key="837_Format_Location" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING\CLAIMS\837 Files\"/>
    <add key="HCFA_Location" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING\CLAIMS\Text Files\"/>
    <add key="Error_File_Location" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING\CLAIMS\Error Files\"/>
    <add key="BatchFileLocation" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING"/>
    <add key="BrowseDocuments" value="C:\Capella_Images\Browse_Documents\" />
    <add key="AppointmentsReportFileName" value="CAPELLA_CMG_APPOINTMENTS_REPORT_" />

    <add key="LogoPath" value="http://172.16.0.113/C3POPrevVer2/Resources/NCQADiabetes.gif" />
    <add key="ClinicalSummaryPathName" value="Clinical Summary" />
    <add key="CareNotePathName" value="Care Note" />
    <add key="MeasureFileName" value="EHR_MEASURE_CALCULATION" />
    <add key="SummaryCarePathName" value="Summary Of Care" />
    <add key="phiMailCertficatepath"  value="D:\\Certificate\EMRDirectTestCA.crt"/>
    <add key="phiMailUsername"  value="acurus@test.directproject.net"/>
    <add key="phiMailPassword"  value="upexm598"/>
    <add key="phiMailServer"  value="sandbox.phimail-dev.com"/>
    <add key="phiMailPortNo"  value="32541"/>
    <add key="PhyDirectMail"  value="acurus@test.directproject.net"/>

    <add key="phiMailEdgeUsername"  value="acurus-edge2015@directtest.interopengine.com"/>
    <add key="PhyEdgeMail"  value="acurus-edge2015@directtest.interopengine.com"/>
    <!--<add key="phiMailDownloadDirectory"  value="~/Documents/Direct Downloads"/>-->
    <add key="phiMailDownloadDirectory"  value="D:\\EHR_CCD_Xml"/>
    <add key="CodersReportFileName" value="CAPELLA_CMG_CODERS_REPORT_" />
    <add key="eRxRefillReport" value="ERX_REFILL_REPORT_" />
    <add key="UTCDiff"  value="5.00"/>
    <add key="aspnetspell_key" value="LIVESPELL-VL5EMZ6MAJ99AGF-L7Y0Q-7MCY6-JS.ENTERPRISE-MQ5E5" />
    <add key="XMLPath"  value="E:\\EHR\EHR_XML"/>
    <add key="XMLPathDR"  value="D:\\EHR_Xml"/>
    <add key="XMLPathDRArchive"  value="D:\\EHR_Xml"/>
    <add key="ConsultationLogoPath"  value="http://68.166.232.110/capella_test/Resources/NCQADiabetes.gif"/>
    <add key="phyConsultationLogoPath"  value="http://68.166.232.110/capella_test_india/Resources/Chaparral.png"/>
    <add key="ConsultationLogoPath_PalliativeCare"  value="http://68.166.232.110/capella_test_india/Resources/Palliative Care.gif"/>

    <add key="ConsultationLogoPath_Integrum"  value="http://68.166.232.110/capella_test_india/Resources/Integrum.jpg"/>
    <!--For Integrum project alone the below key should be ALL otherwise value should be empty-->
    <add key="ConsultationLogoIntegrum" value="ALL"/>

    <add key="ServProcCodeExclutionStatus" value="Suspected,Resolved"/>
    <!--<add key="BIRTReportUrl" value="http://172.18.1.124:8080/birt/frameset?__report=Report Templates/EHR_Reports/"/>-->



    <add key="UserSessionFolderPath" value="\\172.18.0.20\shared folder\Session"/>

    <add key="BIRTReportUrl" value="http://68.166.232.110:8082/birt/frameset?__report=Report Templates/EHR_Reports/"/>
    <!--<add key="UserSessionFolderPath" value="D:\\EHR_Xml\CapellaSessions"/>-->

    <add key="ProjectName" value="CMG"/>
    <add key="Reportpath" value="http://68.166.232.110/reports_application/"/>
    <add key="ReleaseDate" value="1 Feb 18"/>
    <add key="InfluenzaImmunization" value="NonDrugAllergy-Egg Protein$213020009,Eggs$91930004|DrugAllergy-49281070840,49281071040,70461000101,49281011325,33332001501,33332001601,58160088352,66521011802,70461011902,49281039615,62577061401,49281039765,49281039965,66019030210,66019030310,42874001510,42874001610,49281051525,49281051625,19515090152,19515090852,49281041510,49281041550,49281041610,49281041650,58160090352,58160090552,49281062315,49281062515,19515089811,19515090311,49281062315,49281062515|ProblemList-Z91.012,T78.08XA,T78.08XD,T78.08XS"/>
    <add key="HL7ImmunizationPath"  value="C:\\Immunization_Registry"/>
    <add key="DeviceIdentifier"  value="https://accessgudid.nlm.nih.gov/api/v1/devices/lookup.xml?"/>
    <add key="Is_Audit_Log" value="Y"/>

    <add key="Audit_LoggingService" value="http://192.168.101.6:8088/enterprise_services/ES_AuditLogging.asmx/InsertAuditLoggingDetails"/>
	  <add key="ftpMailpath" value="MAIL\Sent\" />
    <add key="ClientTIN" value="954292715"/>
    <add key="ClientName" value="Chaparral Medical Group Inc"/>
    <add key="ClientNPI" value="1437111028"/>
    <add key="MSH4" value="SF-008625"/>
    <add key="MSH22" value="DE‐000001"/>
    <add key="RXA11" value="DE‐000001"/>
    <add key="MSH6" value="CAIRLO"/>
    <add key="MSH7" value="NISTIISFAC"/>

    <add key="MSH4_NIST" value="CapellaEHRFAC"/>
    <add key="MSH22_NIST" value="CapellaEHRFAC"/>
    <add key="MSH7_NIST" value="NISTIISFAC"/>

    <add key="MSH6_NIST" value="NISTIISAPP"/>
    <add key ="RXA11_NIST" value="NIST-Clinic-1"/>
    <add key="RXNormId" value="https://rxnav.nlm.nih.gov/REST/rxcui.json"/>
    <add key="NIST_UserName" value="simonofficial91"/>
    <add key="NIST_Password" value="7c52a4eb34f8450158d086d9b27f403fcaf479b51704e70205b7f05857d68cbf"/>
    <add key="NIST_FacilityID" value="simonofficial91"/>

    <add key="CareNotesNamingConvention"  value="CareNotes_~[Last_Name]_~[First_Name]_~[DOB]_EHR_~[DOS]" />
    <add key="TreatmentNotesNamingConvention"  value="TreatmentNotes_~[Last_Name]_~[First_Name]_~[DOB]_EHR_~[DOS]" />
    <add key="WellnessNotesNamingConvention"  value="WN_~[Last_Name]_~[First_Name]_~[DOB]_EHR_~[DOS]" />
    <!-- WT_<Patient Acc.Number>_<PatientLN>_<PatientFN>_<DOB-YYYYMMDD>_<Providername>_<Facility>_<Encounter-YYYYMMDD>.doc-->
    <add key="EncounterTempelateNamingConvention"  value="WT_~[Human]_~[Last_Name]_~[First_Name]_~[DOB]_~[PROVIDER]_~[FACILITY]_~[ENCOUNTER]_~[DOS]" />
    <add key="WellnessFacilityName" value="N"/>
    <add key="WellnessFacilityAddress" value="N"/>
    <add key="WellnessFacilityPhone" value="N"/>
    <add key="DocToPdf" value="N"/>
    <add key="ProgressNotesLogoPath"  value="http://68.166.232.110/capella_test_india/Resources/Integrum.jpg"/>
    <add key="ProgressNotesMainHeader" value="Y"/>
    <add key="WellnessNotesMainHeader" value="N"/>
    <add key="ProgressNotesNamingConvention" value="~[Last_Name]_~[First_Name]_~[DOB]_EHR_~[DOS]" />
    <add key="CareNotesLogoPath"  value="http://68.166.232.110/Capella_Riverside_test/Resources/Riverside.gif"/>
    <add key="TreatmentNotesLogoPath"  value="http://68.166.232.110/Capella_Riverside_test/Resources/Riverside.gif"/>
    <add key="ConsultationNotesNamingConvention"  value="ConsultationNotes_~[Last_Name]_~[First_Name]_~[DOS]_EHR_~[DOS]" />
    <add key="DefaultPhysicianIDIndexing" value="4387"/>
    <add key="ProjectIPAddress" value="http://68.166.232.110:8088/raf_test/RafCalcualtor.asmx/CalculateRAF"/>
    <add key="MedicareID" value="0"/>
    <add key="RafExclusionStatus" value="Suspected,Resolved"/>
    <add key="AncillaryTestClinic" value="CMG LAB AND ANCILLARY 1866 #101"/>
    <add key="AncillaryTestClinicAuthorization" value="All"/>
    <add key="AncillaryLab" value="CMG Anc.-1866 #101"/>
    <add key="UserAccessFilePath" value="D:\\UserAccessLog"/>
    <add key="MedReconcileURL" value="http://68.166.232.110:8088/drug_acs/MedicationReconciliation.asmx/PerformMedicalReconciliation"/>

    <add key="LDAPDomainName" value="LDAP://172.18.0.150"/>
    <add key="LDAPUserName" value="cn=?,ou=users,dc=ldap,dc=com"/>
    <add key="IsRxHistory" value="Y"/>
    <add key="Twilio_Ready_for_Send_Path" value="EFAX\SEND_FAX\READY_TO_SEND\"/>
    <add key="UNCPathFax" value="D:\INTEGRUM_HEALTH_FTP" />
    <add key="UNCAuthPathFax" value="D:\INTEGRUM_HEALTH_FTP"/>
    <add key="userNameFax" value="Administrator" />
    <add key="DomainFax" value="K790L9" />
    <add key="PasswordFax" value="Fullsail$" />
    <add key="ftpServerIPFax" value="ftp://64.91.251.230/EFAX/SEND_FAX/READY_TO_SEND/" />
    <add key="ftpPasswordFax" value="Acurus@2050" />
    <add key="ftpUserIDFax" value="integrumftp" />

    <!--<add key="ScanningPath_Fax" value="\\192.168.101.6\Acurus\test_documents\" />-->
    <add key="ScanningPath_Fax" value="D:\" />
    <add key="ftpFaxpath" value="EFAX\CMG\"/>
    <add key="Faxpathoutput" value="\Outbox\"/>
    <add key="FaxpathoutputIndexing" value="\Received\"/>

    <add key="disablecheckin" value="btnSave|btnSaveandMove" />
    <!--Add Key for Color Changes -->
    <!--Use only enable or disabled For version-->
    <add key="versionkey" value="enable" />
    <add key="logocolor" value="color:  Red;" />
    <!--cmg-->
    <add key="LoginHeader" value="color:black !important; background-color:#bfdbff !important;border-color: #bfdbff !important;" />
    <add key="Loginboder" value="border-color: #bfdbff  !important;" />
    <add key="logoEHR" value="color:  #008000;" />
    <add key="logoLogin" value="color:  #428bca;"  />
    <!--path Resources/CMG Logo-->
    <add key="logoleft" value="Resources/capella_logo.png"  />
    <add key="logoright" value="Resources/CMG_Logo.png"  />
    <add key="nav" value="background-color: #236b8e; "  />
    <add key="navhover" value="#4f94cd"  />
    <add key="Tableheader" value="background-color: #236b8e !important;"  />
    <add key="Encounterheader1" value="background-color: #bfdbff !important;"  />
    <add key="EnableDeleteIndexing" value="OFFICE MANAGER"  />

    <add key="EVServiceType" value="Health Benefit Plan Coverage|30"  />
    <add key="EVServiceLink" value="http://172.18.1.132:8048/AEVS_WebService_test/api"  />

    <!--<add key="FromMail" value="notifications@acurussolutions.com"  />-->
     <add key="FromMail" value="notifications@acurussolutions.com"  />

    <add key="MailPassword" value="ukkupzzernjykeap"  />
    <add key="Smtp"  value="smtp.bizmail.yahoo.com"/>
    <add key="MailPortNo"  value="587"/>
    <add key="MailFooter" value="=====Disclaimer : This email is generated on behalf of PatientName through Capella Patient Online Access Portal. This message is intended only for the use of the individual or entity to which it is addressed and may contain information that is privileged, confidential and exempt from disclosure under applicable law. If the reader of this message is not the intended recipient, you are hereby notified that dissemination, distribution or copying of this communication is strictly prohibited. If you have received this message in error, please delete this message. Thank You."/>
    <add key="FileSizeLimit" value="20971520"/>
	  <add key="ClinicalSummaryPathName" value="Clinical Summary" />
	  <add key="XmlBatchFileForCCD" value="E:\Acurus_Web\CCD_Generation\Altova_CCD_Generation.exe" />
	  <add key="CCDOutputLocation" value="E:\Acurus_Web\output_xml\Final_CCD.xml" />
    <!--integram-->
    <!--<add key="LoginHeader" value="color:black !important; background-color:#3aa04a !important;border-color: #3aa04a !important;" />
    <add key="Loginboder" value="border-color: #3aa04a !important;" />
    <add key="logoEHR" value="color:  #57b3eb;" />
    <add key="logoLogin" value="color:  #3aa04a;"  />-->
    <!--path Resources/integrum logo-->
    <!--<add key="logoleft" value="Resources/Integrum_Health_Logo.jpg"  />
    <add key="logoright" value="Resources/CarepointeLogo.png"  />-->
    <!--<add key="nav" value="background-color: #3aa04a; "  />
    <add key="navhover" value="#3aa04a"  />
    <add key="Tableheader" value="background-color: #3aa04a!important;"  />
    <add key="Encounterheader1" value="background-color: #aae1b3!important;"  />-->
  </appSettings>
  <connectionStrings>
	  <!--<add name="con" connectionString="Database=capella_5_0_ehr_rcm_deve;Data Source=172.18.0.11;Port=3306;User Id=dbdeve;Password=acurus;" providerName="MySql.Data.MySqlClient"/>-->
	<add name="con" connectionString="Database=capella_cmg_test;Data Source=capellapoc.mysql.database.azure.com;User Id=dbadmin@capellapoc;Port=3306;Password=KoU6Vty25bdufJeTOBVO;SslMode=Preferred" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>

   
      
    <sessionState timeout="30"></sessionState>
    <httpRuntime maxRequestLength="2097151" executionTimeout="18000"/>
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        --> 
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <!--<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2013.3.1114.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
    </httpModules>
  </system.web>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>-->
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <!--<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <!--<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler"/>
      <add name="ChartHandler" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PatientPortalWebServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53630/WebServices/PatientPortalWebService.asmx" binding="basicHttpBinding" bindingConfiguration="PatientPortalWebServiceSoap" contract="PatientPortalServiceReference.PatientPortalWebServiceSoap" name="PatientPortalWebServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>