<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>E:\Deployee\builds\Capella_publish_PatientPortal\</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<!-- files to not publish - path is relative to project root -->
		<ExcludeFilesFromDeployment>Web.config;hibernate.cfg.xml;bin/hibernate.cfg.xml;bin/hibernate.cfg.xml;bin/Telerik.Web.Design.dll;bin/Telerik.Web.UI.Skins.dll;bin/Telerik.Web.UI.dll;GeneralPlan.html;General_With_Specialty.html;Exam_Focused.html;CarePlan.html;Past_Medical_History.html;htmICD9.html;htmICD10.html;</ExcludeFilesFromDeployment>
		<!-- directories to not publish - path is relative to project root -->
		<ExcludeFoldersFromDeployment>CSS;Resources;ConfigXML;Documents;CVS;SuperBill_Template;Template_XML;Keyoti_RapidSpell_Web_Common;fonts;</ExcludeFoldersFromDeployment>
		<!-- directories to  publish - SampleXML; -->
		<SiteUrlToLaunchAfterPublish />
	</PropertyGroup>
</Project>