<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Acurus.Capella.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<log4net>
		<appender name="SessionLog" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="logs\Session-%property{SessionID}.txt" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="0" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %message%newline" />
			</layout>
		</appender>
		<appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
			<file value="logs\error.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="2MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<appender name="AppointmentsActivityLog" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="logs\AppointmentActivity-%property{UserName}.txt" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="0" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %message%newline" />
			</layout>
		</appender>
		<appender name="NHibernateFileLog" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/nhibernate.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="10000KB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<!--<appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/general.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>-->
		<appender name="DataLog" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/data.log" />
			<appendToFile value="true" />
			<maximumFileSize value="1000KB" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		<!--<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Temp\Capella_Services.log" />
      <appendToFile value="true" />
      <maximumFileSize value="2000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>-->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[Header]\r\n" />
				<param name="Footer" value="[Footer]\r\n" />
				<param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
			</layout>
		</appender>
		<!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
		<!--<root>
      <level value="DEBUG"/>
      <appender-ref ref="GeneralLog" />
      -->
		<!--<appender-ref ref="RollingFile" />
      <appender-ref ref="ConsoleAppender" />-->
		<!--
    </root>-->
		<logger name="NHibernate" additivity="false">
			<level value="INFO" />
			<appender-ref ref="NHibernateFileLog" />
		</logger>
		<logger name="Error" additivity="false">
			<level value="ERROR" />
			<appender-ref ref="ErrorLog" />
		</logger>
		<logger name="Session" additivity="false">
			<level value="INFO" />
			<appender-ref ref="SessionLog" />
		</logger>
		<logger name="AppointmentsActivity" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="AppointmentsActivityLog" />
		</logger>
	</log4net>
	<!--<log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>-->
	<appSettings>
		<add key="SPATTERN" value="*.tif" />
		<add key="PatientSummaryMinValue" value="2" />
		<add key="PatientSummaryMaxValue" value="5" />
		<add key="VersionConfiguration" value="Capella - V6.1.0.1.9.75| 6" />
		<add key="AppointmentBlockColor" value="SKYBLUE" />
		<add key="UNCPath" value="\\192.168.101.6\Acurus\test_documents\" />
		<add key="UNCAuthPath" value="\\192.168.101.6\Acurus" />
		<add key="userName" value="administrator" />
		<add key="Domain" value="texas" />
		<add key="Password" value="laserjet$99" />
		<add key="ftpServerIP" value="ftp://192.168.101.6/test_documents/" />
		<add key="UNCPathAD" value="\\192.168.101.6\Acurus\test_documents\AD\" />
		<add key="UNCAuthPathAD" value="\\192.168.101.6\Acurus" />
		<add key="userNameAD" value="administrator" />
		<add key="DomainAD" value="texas" />
		<add key="PasswordAD" value="laserjet$99" />
		<add key="ftpServerIPAD" value="ftp://192.168.101.6/test_documents/AD/" />
		<add key="ftpPassword" value="Brief$12" />
		<add key="ftpUserID" value="texas\capellaftp" />
		<add key="LocalPath" value="C:\Capella_Images" />
		<add key="AtalasoftWebControls_Cache" value="atala-capture-download/" />
		<add key="AtalasoftWebControls_CacheLifeTime" value="5" />
		<add key="CapellaConfigurationSetttings" value="C:\Capella_Documents" />
		<add key="ScanningPath_Local" value="E:\Capella_Scan" />
		<add key="ScanningPathUrl" value="" />
		<add key="FAXScanningPathUrl" value="" />
		<add key="PatientEducationFolderName" value="\Patient Education" />
		<add key="VISFolderName" value="\Vaccination Information Statement" />
		<add key="ReportsPathName" value="C:\Capella Report" />
		<add key="WellnessNotesPathName" value="Wellness Notes" />
		<add key="CareNotesPathName" value="Care Notes" />
		<add key="AppointmentSummaryFileName" value="CMG_APPOINTMENT_SUMMARY_REPORT_" />
		<add key="AuditLogFileName" value="CMG_AUDIT_LOG_REPORT_" />
		<add key="CodersReportFacilityName" value="430 W BASELINE AVE" />
		<add key="OfficeManagerReportFileName" value="OFFICE_MANAGER_SUMMARY_REPORT_" />
		<add key="CMGAncillaryDocumentation" value="CMG_ANCILLARY_DOCUMENTATION_REPORT_" />
		<add key="Keyoti-RapidSpellWeb-LicenseKey" value="5853685F655B6760695A6B6A625B67243C3D3D4239403E3C443E44434549434B4C4C510" />
		<add key="138_HARVARD_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="1866_N_OG_AVE_#_102_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="1866_N_OG_AVE_#_201_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="1866_N_OG_AVE_#_202_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="1904_N_OG_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="430_W_BASELINE_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="790_E_BONITA_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="9190_HAVEN_AVE_1ST_FLR_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="WELLNESS_CENTER_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="591_N_13TH_AVE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="16465_S_LAKES_PRKWY_#_250_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="1866_N_OG_AVE_#_101_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="585_N_MTN_AVE_STE_A_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="585_N_MTN_AVE_STE_C_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="CASA_COLINA_SURGERY_CTR_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="COUNTRY_OAKS_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="KINDRED_HOSPITAL_ONTARIO_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="MOUNT_SAN_ANTONIO_GARDENS_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="PILGRIM_PLACE_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<add key="SAN_ANTONIO_HOSPITAL_PatEduMaterialsAndVISPath" value="C:\Acurus\Capella_Documents\Physician_Specific_Documents" />
		<!--<add key="CMGFacilityName" value="CMG LAB AND ANCILLARY 1866 #101" />-->
		<add key="CrystalImageCleaner-AutoStart" value="true" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />
		<add key="CloseWorksetPerformValidation" value="false" />
		<add key="Mapped_Location" value="\\172.18.0.113\C3PO\WORK_AREA\RCM TESTING\" />
		<add key="IsReviewAlert" value="N" />
		<add key="IndexingBatchFileLocation" value="\\172.18.0.113\C3PO\WORK_AREA\RCM TESTING" />
		<!--<add key="Mapped_Location" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING\"/>
    <add key="IndexingBatchFileLocation" value="\\172.18.0.113\C3PO\WORK_AREA\RCM TESTING"/>-->
		<!--<add key="IndexingBatchFileLocation" value="E:\C3PO\WORK_AREA\RCM TESTING"/>-->
		<add key="RCMftpServerIP" value="ftp://172.18.0.23:22/aindia/RCM_testing/" />
		<add key="RCMftpPassword" value="acurus@2011" />
		<add key="RCMftpUserID" value="capella" />
		<!--comments added by prabu for testing wincvs 20140804-->
		<!--<add key="Mapped_Location" value="E:\c3po\WORK_AREA\RCM TESTING\"/>-->
		<!--<add key="Mapped_Location" value="E:\"/>-->
		<!--<add key="Mapped_Location" value="\\172.16.0.20\Shared Folder\Gopal\"/>-->
		<!--<add key="Mapped_Location" value="E:\"/>-->
		<add key="ReferenceIdentificationQualifier_REF1" value="EI" />
		<add key="Interchange_Control_No_ISA13" value="000002327" />
		<add key="Ack_Req_ISA14" value="0" />
		<add key="RepititionSeparator_ISA11" value="^" />
		<add key="TransactionTypeCode_BHT6" value="CH" />
		<add key="ReferenceIdentification_BHT3" value="2327" />
		<add key="TransactionSetControlNumberStartValue_ST2" value="2327" />
		<add key="TransactionSetPurposeCode_BHT2" value="00" />
		<add key="VersionCode_GS08" value="005010X223A2" />
		<add key="IdentificationCodeQual_NM17" value="XX" />
		<add key="ServiceIDQualifier_SV101" value="HC" />
		<add key="SubmitterEntityQualifier_NM102" value="2" />
		<add key="ResponsibleAgencyCode_GS07" value="X" />
		<add key="SubmitterBillingEntityType_NM102" value="2" />
		<add key="ClaimStatus" value="OPEN" />
		<add key="837_Format_Location" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING\CLAIMS\837 Files\" />
		<add key="HCFA_Location" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING\CLAIMS\Text Files\" />
		<add key="Error_File_Location" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING\CLAIMS\Error Files\" />
		<add key="BatchFileLocation" value="\\172.16.0.113\C3PO\WORK_AREA\RCM TESTING" />
		<add key="BrowseDocuments" value="C:\Capella_Images\Browse_Documents\" />
		<add key="AppointmentsReportFileName" value="CAPELLA_CMG_APPOINTMENTS_REPORT_" />
		<add key="LogoPath" value="http://172.16.0.113/C3POPrevVer2/Resources/NCQADiabetes.gif" />
		<add key="ClinicalSummaryPathName" value="Clinical Summary" />
		<add key="CareNotePathName" value="Care Note" />
		<add key="MeasureFileName" value="EHR_MEASURE_CALCULATION" />
		<add key="SummaryCarePathName" value="Summary Of Care" />
		<add key="phiMailCertficatepath" value="E:\\Certificate\EMRDirectTestCA.crt" />
		<add key="phiMailUsername" value="acurus@test.directproject.net" />
		<add key="phiMailPassword" value="upexm598" />
		<add key="phiMailServer" value="sandbox.phimail-dev.com" />
		<add key="phiMailPortNo" value="32541" />
		<add key="PhyDirectMail" value="acurus@test.directproject.net" />
		<add key="phiMailEdgeUsername" value="acurus-edge2015@directtest.interopengine.com" />
		<add key="PhyEdgeMail" value="acurus-edge2015@directtest.interopengine.com" />
		<!--<add key="phiMailDownloadDirectory"  value="~/Documents/Direct Downloads"/>-->
		<add key="phiMailDownloadDirectory" value="E:\\EHR_CCD_Xml" />
		<add key="CodersReportFileName" value="CAPELLA_CMG_CODERS_REPORT_" />
		<add key="eRxRefillReport" value="ERX_REFILL_REPORT_" />
		<add key="UTCDiff" value="5.00" />
		<add key="aspnetspell_key" value="LIVESPELL-VL5EMZ6MAJ99AGF-L7Y0Q-7MCY6-JS.ENTERPRISE-MQ5E5" />
		<add key="XMLPath" value="E:\\EHR\EHR_XML" />
		<add key="XMLPathDR" value="E:\\EHR\EHR_XML" />
		<add key="XMLPathDRArchive" value="E:\\EHR\EHR_XML" />
		<add key="RAF_XMLPath" value="E:\\EHR\EHR_XML" />
		<add key="ConsultationLogoPath" value="" />
		<add key="phyConsultationLogoPath" value="" />
		<add key="ConsultationLogoPath_PalliativeCare" value="" />
		<add key="ConsultationLogoPath_Integrum" value="" />
		<!--For Integrum project alone the below key should be ALL otherwise value should be empty-->
		<!--<add key="ConsultationLogoIntegrum" value="ALL"/>-->
		<add key="ServProcCodeExclutionStatus" value="Suspected,Resolved" />
		<!--<add key="BIRTReportUrl" value="http://172.18.1.124:8080/birt/frameset?__report=Report Templates/EHR_Reports/"/>-->
		<add key="UserSessionFolderPath" value="E:\EHR\Session" />
		<add key="BIRTReportUrl" value="" />
		<!--<add key="UserSessionFolderPath" value="E:\\EHR_Xml\CapellaSessions"/>-->
		<add key="ProjectName" value="CMG" />
		<add key="EVProjectName" value="CMG" />
		<add key="Reportpath" value="" />
		<add key="ReleaseDate" value="1 Feb 18" />
		<add key="InfluenzaImmunization" value="NonDrugAllergy-Egg Protein$213020009,Eggs$91930004|DrugAllergy-49281070840,49281071040,70461000101,49281011325,33332001501,33332001601,58160088352,66521011802,70461011902,49281039615,62577061401,49281039765,49281039965,66019030210,66019030310,42874001510,42874001610,49281051525,49281051625,19515090152,19515090852,49281041510,49281041550,49281041610,49281041650,58160090352,58160090552,49281062315,49281062515,19515089811,19515090311,49281062315,49281062515|ProblemList-Z91.012,T78.08XA,T78.08XD,T78.08XS" />
		<add key="HL7ImmunizationPath" value="C:\\Immunization_Registry" />
		<add key="DeviceIdentifier" value="https://accessgudid.nlm.nih.gov/api/v1/devices/lookup.xml?" />
		<add key="Is_Audit_Log" value="Y" />
		<add key="Audit_LoggingService" value="https://escmg-mysql8.capellaehr.com:8081/ES_AuditLogging.asmx/InsertAuditLoggingDetails" />
		<add key="ClientTIN" value="954292715" />
		<add key="ClientName" value="Chaparral Medical Group Inc" />
		<add key="ClientNPI" value="954292617" />
		<add key="MSH4" value="SF-008625" />
		<add key="MSH22" value="DE‐000001" />
		<add key="RXA11" value="DE‐000001" />
		<add key="MSH6" value="CAIRLO" />
		<add key="MSH7" value="NISTIISFAC" />
		<add key="MSH4_NIST" value="CapellaEHRFAC" />
		<add key="MSH22_NIST" value="CapellaEHRFAC" />
		<add key="MSH7_NIST" value="NISTIISFAC" />
		<add key="MSH6_NIST" value="NISTIISAPP" />
		<add key="RXA11_NIST" value="NIST-Clinic-1" />
		<add key="RXNormId" value="https://rxnav.nlm.nih.gov/REST/rxcui.json" />
		<add key="NIST_UserName" value="simonofficial91" />
		<add key="NIST_Password" value="7c52a4eb34f8450158d086d9b27f403fcaf479b51704e70205b7f05857d68cbf" />
		<add key="NIST_FacilityID" value="simonofficial91" />
		<add key="CareNotesNamingConvention" value="CareNotes_~[Last_Name]_~[First_Name]_~[DOB]_EHR_~[DOS]" />
		<add key="TreatmentNotesNamingConvention" value="TreatmentNotes_~[Last_Name]_~[First_Name]_~[DOB]_EHR_~[DOS]" />
		<add key="WellnessNotesNamingConvention" value="WN_~[Last_Name]_~[First_Name]_~[DOB]_EHR_~[DOS]" />
		<!-- WT_<Patient Acc.Number>_<PatientLN>_<PatientFN>_<DOB-YYYYMMDD>_<Providername>_<Facility>_<Encounter-YYYYMMDD>.doc-->
		<add key="EncounterTempelateNamingConvention" value="WT_~[Human]_~[Last_Name]_~[First_Name]_~[DOB]_~[PROVIDER]_~[FACILITY]_~[ENCOUNTER]_~[DOS]" />
		<add key="WellnessFacilityName" value="N" />
		<add key="WellnessFacilityAddress" value="N" />
		<add key="WellnessFacilityPhone" value="N" />
		<add key="DocToPdf" value="N" />
		<add key="ProgressNotesLogoPath" value="" />
		<add key="ProgressNotesMainHeader" value="Y" />
		<add key="WellnessNotesMainHeader" value="N" />
		<add key="ProgressNotesNamingConvention" value="~[Last_Name]_~[First_Name]_~[DOB]_EHR_~[DOS]" />
		<add key="CareNotesLogoPath" value="" />
		<add key="TreatmentNotesLogoPath" value="" />
		<add key="ConsultationNotesNamingConvention" value="ConsultationNotes_~[Last_Name]_~[First_Name]_~[DOS]_EHR_~[DOS]" />
		<add key="DefaultPhysicianIDIndexing" value="4387" />
		<add key="ProjectIPAddress" value="https://rafmysql8-cmg.capellaehr.com/api" />
		<add key="MedicareID" value="0" />
		<add key="MedicareCarrierIDList" value="73,76,77,156" />
		<add key="RafExclusionStatus" value="Suspected,Resolved" />
		<!--<add key="AncillaryTestClinic" value="CMG LAB AND ANCILLARY 1866 #101" />-->
		<add key="AncillaryTestClinicAuthorization" value="All" />
		<!--<add key="AncillaryLab" value="CMG Anc.-1866 #101" />-->
		<add key="UserAccessFilePath" value="E:\\UserAccessLog" />
		<add key="MedReconcileURL" value="" />
		<add key="LDAPDomainName" value="LDAP://172.18.0.150" />
		<add key="LDAPUserName" value="cn=?,ou=users,dc=ldap,dc=com" />
		<add key="IsRxHistory" value="N" />
		<add key="Twilio_Ready_for_Send_Path" value="EFAX\SEND_FAX\READY_TO_SEND\" />
		<add key="UNCPathFax" value="E:\INTEGRUM_HEALTH_FTP" />
		<add key="UNCAuthPathFax" value="E:\INTEGRUM_HEALTH_FTP" />
		<add key="userNameFax" value="Administrator" />
		<add key="DomainFax" value="K790L9" />
		<add key="PasswordFax" value="Fullsail$" />
		<add key="ftpServerIPFax" value="ftp://64.91.251.230/EFAX/SEND_FAX/READY_TO_SEND/" />
		<add key="ftpPasswordFax" value="Acurus@2050" />
		<add key="ftpUserIDFax" value="integrumftp" />
		<!--<add key="ScanningPath_Fax" value="\\192.168.101.6\Acurus\test_documents\" />-->
		<add key="ScanningPath_Fax" value="E:\" />
		<add key="ftpFaxpath" value="EFAX\CMG" />
		<add key="FaxpathoutputIndexing" value="\Received\" />
		<add key="Faxpathoutput" value="\Outbox\" />
		<add key="disablecheckin" value="btnSave" />
		<!--<add key="disablecheckin" value="btnSave|btnProviderSave" />-->

		<!--<add key="disablecheckin" value="btnSave|btnProviderSave" />-->
		<add key="disablecheckin" value="btnSave" />
		<add key="FaxpathoutputIndexing" value="\Received\" />
		<add key="IndexingNonMedicaFolder" value="\\NonMedicalFiles\\" />
		<!--Add Key for Color Changes -->
		<!--Use only enable or disabled For version-->
		<add key="versionkey" value="enable" />
		<add key="logocolor" value="color:  Red;" />
		<!--cmg-->
		<add key="LoginHeader" value="color:black !important; background-color:#bfdbff !important;border-color: #bfdbff !important;" />
		<add key="Loginboder" value="border-color: #bfdbff  !important;" />
		<add key="logoEHR" value="color:  #008000;" />
		<add key="logoLogin" value="color:  #428bca;" />
		<!--path Resources/CMG Logo-->
		<add key="logoleft" value="Resources/capella_logo.png" />
		<add key="logoright" value="Resources/CMG_Logo.png" />
		<add key="nav" value="background-color: #236b8e; " />
		<add key="navhover" value="#4f94cd" />
		<add key="Tableheader" value="background-color: #236b8e !important;" />
		<add key="Encounterheader1" value="background-color: #bfdbff !important;" />
		<add key="EnableDeleteIndexing" value="OFFICE MANAGER|MEDICAL ASSISTANT|FRONT OFFICE|PHYSICIAN ASSISTANT|PHYSICIAN" />
		<!--Add value only if the system is down -->
		<!--<add key="CapellaDown" value="Maintenance"/>-->
		<add key="EVServiceType" value="Health Benefit Plan Coverage|30" />
		<add key="EVServiceLink" value="http://172.18.1.123:8048/AEVS_WebService_test/api" />
		<add key="FromMail" value="notifications@acurussolutions.com" />
		<add key="MailPassword" value="kbplzwnwzfeujacg" />
		<add key="IsPop3Client" value="N" />
		<add key="ftpMailpath" value="MAIL\Sent\" />
		<add key="Smtp" value="smtp.bizmail.yahoo.com" />
		<add key="MailPortNo" value="587" />
		<add key="MDOfficeMail" value="mail.mdofficemail.com" />
		<add key="MDOfficeMailPort" value="25" />
		<add key="Reportpathhttp" value="http://68.166.232.110/reports_application/" />
		<add key="Is_Logging" value="Y" />
		<add key="UsageLogPath" value="E:\\EHR_Xml_Usage_Log" />
		<add key="Is_Logging_frmSummaryNew" value="Y" />
		<add key="Is_Logging_frmPatientChart" value="Y" />
		<add key="Is_Logging_frmRCopiaToolbar" value="Y" />
		<add key="Is_Logging_frmPatientCommunication" value="Y" />
		<add key="Is_Logging_ViewImg" value="Y" />
		<add key="Is_Logging_frmMyQueueNew" value="Y" />
		<add key="Is_Logging_frmLogin" value="Y" />
		<add key="Is_Logging_frmimageviewer" value="Y" />
		<add key="IsEFax" value="Y" />
		<add key="TemplateNotes" value="NUCLEAR MEDICINE|STRESS TEST|TEST MEDICINE|ECHO|Vascular Studies"/>
		<add key="IndexingEncounterDOSMonths" value="3" />
		<add key="IndexingDeleteFolder" value="\\Deleted_Files\\" />
		<add key="VisibleDeleteIndexingViewResult" value="Physician" />

		<add key="CopyFromSource_Human" value="E:\TALEND_TEST\ST_XML_GEN\HUMAN_XML"/>
		<add key="CopyFromSource_Encounter" value="E:\TALEND_TEST\ST_XML_GEN\ENCOUNTER_XML"/>
		<add key="CopyFromSource_EncounterArc" value="E:\TALEND_TEST\ST_XML_GEN\ENCOUNTER_ARC_XML"/>
		<add key="CopyToDestination" value="\\10.0.0.8\Acurus_Web\EHR_XML\EHR_XML_CMG_TEST" />

		<add key="XmlBatchFileForHuman" value="E:\Acurus_Web\Batch_Files\CMG\MASTER_HUMAN_XML_ST\MASTER_HUMAN_XML_ST_run.bat" />
		<add key="XmlBatchFileForEncounter" value="E:\Acurus_Web\Batch_Files\CMG\MASTER_ENCOUNTER_XML_ST\MASTER_ENCOUNTER_XML_ST_run.bat" />
		<add key="XmlBatchFileForEncounterArc" value="E:\Acurus_Web\Batch_Files\CMG\MASTER_ENCOUNTER_XML_ARC_ST\MASTER_ENCOUNTER_XML_ARC_ST_run.bat" />


		<add key="XmlBatchFileForCCD" value="E:\A_Workspace\EHR\Altova_Code\New folder\code\code\Altova_CCD_Generation\bin\Debug\Altova_CCD_Generation.exe" />
		<add key="CCDOutputLocation" value="E:\A_Workspace\EHR\Altova_Code\New folder\code\code\Altova_CCD_Generation\bin\output_xml\Final_CCD.xml" />
		<add key="XmlBatchFileForC2" value="E:\EHRProject\C2 Import.bat" />
		<add key="Is_Cerner" value="Y" />
		<add key="LogTxt" value="E:\\LogCerner.txt"/>
		<add key="MyMapDrive" value="E:\\A_Workspace\Cerner\Cerner_Certificates\"/>
		<add key="ReturnType" value="LeafClass" />
		<add key="SearchType" value="urn:uuid:14d4debf-8f97-4251-9a74-a90016b0af0d" />
		<add key="ServiceTime" value="20190101000000"/>
		<add key="RegisterPatient"  value="https://pvhcertsync.hiedirectconnect.org:9052/ihe/services/PIXManager_Service/"/>
		<add key="RegistryStoredQuery"  value="https://pvhcertsync.hiedirectconnect.org:9050/ihe/services/xdsregistryb/"/>
		<add key="RegisterDocumentSet"  value="https://pvhcertsync.hiedirectconnect.org:9051/ihe/services/xdsrepositoryb/"/>
		<add key="IsAkidoNoteCDC" value="Y" />
		<add key="AkidoNoteCDCURL" value="https://test.capellaehr.com/api/ProgressNotesService/LoadProgressNotes?sHumanID=[CapellaHumanID]&amp;sEncounterID=[CapellaEncounterID]&amp;transactionBy=[CapellaTransactionBy]&amp;transactionDateTime=[CapellaTransactionDateTime]" />
		<add key="AkidoNoteCDCURLToken" value="G4iXST2jRQ3RFwK7dzl0JjTzq9XjB6p3TCKljbofHp8B9ggcUO-ECXsioKqvzCEV38kX4xq-vXi_YGf3AGi9QAs6-g" />
		<add key="EndPointToken" value="G4iXST2jRQ3RFwK7dzl0JjTzq9XjB6p3TCKljbofHp8B9ggcUO-ECXsioKqvzCEV38kX4xq-vXi_YGf3AGi9QAs6-g" />
		<add key="ThresholdDate" value="2019-10-04" />
		<add key="ReleaseDate" value="2024-10-04" />
		<add key="TriggerReleaseDate" value="2025-03-01" />

		<add key="AkidoNoteURL"  value="https://chart-stage.akidolabs.com/clinical-notes?externalEncounterId=[CapellaEncounterID]&amp;client=[ClientName]"/>
		<add key="IsAkidoNoteStatusURLVersion"  value="V2"/>
		<add key="IsAkidoNoteSummary"  value="Y"/>
		<add key="AkidoNoteStatusURL" value="https://cdp-provider-desktop-bffe.akido-corp-prod.com/api/v1/clinical-notes?capellaEncounterIds=[CapellaEncounterID]" />
		<add key="AkidoNoteStatusURLToken" value="078fee25f71f4c42ae0cb14efcc34c89" />
		<add key="IsAkidoInterpretationNote" value="Y"/>
		<add key="AkidoInterpretationNoteStatusURL" value="https://cdp-provider-desktop-bffe.akido-corp-prod.com/api/v2/clinical-notes?searchIds=[CapellaResourceType]:[CapellaResourceID]"/>
		<add key="AkidoInterpretationNoteStatusURLToken" value="078fee25f71f4c42ae0cb14efcc34c89"/>
		<add key="AkidoInterpretationNoteURL" value="https://chart-stage.akidolabs.com/clinical-notes?resourceIdType=[CapellaResourceType]&amp;resourceId=[CapellaResourceID]&amp;client=[ClientName]"/>
		<add key="IsAkidoEncounterCheck"  value="Y"/>
		<add key="AkidoChartProfileURL" value="https://chart-stage.akidolabs.com/patients/c/[capella_patientid]" />

		<!--<add key="Is_AssessmentRAFUpdate" value="N" />-->
		<add key="Is_AssessmentRAFUpdate_CMG" value="N" />
		<add key="Is_AssessmentRAFUpdate_RJ" value="N" />
		<add key="Is_AssessmentRAFUpdate_WC" value="Y" />
		<add key="Legal_Org" value="CMG" />
		<add key="Azure" value="N"/>
		<add key="ThreadSleepTime" value="1000"/>
		<add key="E_And_M_CPT_And_ICD" value="G0438|Z00.00|Z00.01$G0439|Z00.00|Z00.01"/>
		<add key="E_And_M_CPT_And_ICD_LessThenOrEqual18Age" value="G0438|Z00.121|Z00.129$G0439|Z00.121|Z00.129"/>
		<add key="C2FolderPath" value="E:\EHR\Session"/>
		<add key="XmlBatchFileForC2" value="E:\Acurus_Web\Batch_Files\C2_CQM_TEST\CQM_IMPORT_TALEND_JOB\C2_MASTER_CQM_DATA_LOAD_CQM\C2_MASTER_CQM_DATA_LOAD_CQM_run.bat" />
		<add key="CQMCalculatorExe" value="E:\EHR-CAPELLA5.0\MeasureCalculator\bin\Debug\Acurus.Capella.MeasureCalculator.exe" />
		<add key="IsRcopiaAsyncDownload" value="Y" />
		<add key="RcopiaAsyncDownloadTimeInterval" value="30" />
		<add key="IsChangeLegalOrg" value="Y" />

		<!--Okta DEV API Credentials(Nitin's Account)-->
		<!--<add key="okta:ClientId" value="0oaei6un7cv8RU6SF5d7" />
		<add key="okta:ClientSecret" value="jjTCtOdAmoh_S8ImTxKX-DX1aBp6jvf1t4NFyQqmTw9XMt_G0tQ9G6_CeYGVL2q-" />
		<add key="okta:OktaDomain" value="https://dev-37133383.okta.com" />
		<add key="okta:AuthorizationServerId" value="default" />
		<add key="okta:RedirectUri" value="https://localhost:44351/frmMyQueueNew.aspx" />
		<add key="okta:PostLogoutRedirectUri" value="https://localhost:44351" />
		<add key="okta:APIToken" value="00CBGkERLkN3QHkOivDv5Xwbt_h6tiqtOUTLkVZSNY" />-->
		<add key="okta:ClientId" value="0oa6ynmr40QcvWoEf4h7" />
		<add key="okta:ClientSecret" value="TMuWNFncZcirB_yKt2PZ9m1TDtKJaIrRnxPtbZ1zp7BCxB-5yx7Dx1Nt80cSGTgi" />
		<add key="okta:OktaDomain" value="https://akido-cdp.okta.com" />
		<add key="okta:RedirectUri" value="https://localhost:44351/frmLandingScreen.aspx" />
		<add key="okta:PostLogoutRedirectUri" value="https://localhost:44351/frmLoginNew.aspx" />
		<add key="okta:PostLogoutSessionExpiredRedirectUri" value="https://localhost:44351/frmSessionExpired.aspx" />
		<add key="okta:PostLogoutSessionIndirectRedirectUri" value="https://localhost:44351/frmSessionExpiredIndirectAccess.aspx" />
		<add key="okta:PostLogoutSessionMultiLoginRedirectUri" value="https://localhost:44351/frmSessionExpiredMultiLogin.aspx" />
		<add key="okta:APIToken" value="00ytSNV8-hgRHwefk86ch5MxCEJ9HjpYnVvMgxA3K3" />
		<add key="okta:WebFinger" value="/.well-known/webfinger" />
		<add key="okta:Authentication" value="https://akido-cdp.okta.com/api/v1/authn" />
		<add key="okta:LogoutURL" value="https://akido-cdp.okta.com/oauth2/v1/logout" />
		<add key="okta:RevokeURL" value="/oauth2/v1/revoke" />
		<add key="okta:TokenURL" value="/oauth2/v1/token" />
		<add key="okta:UserInfoURL" value="/oauth2/v1/userinfo" />
		<add key="okta:AuthorizeURL" value="https://akido-cdp.okta.com/oauth2/v1/authorize" />

		<add key="IsSSOLogin" value="N" />
		<add key="RootURL" value="test.capellaehr.com" />
		<add key="AkidoChartDomain" value="chart-stage.akidolabs.com" />
		<add key="IsOpenPatientChart" value="Y" />
		<add key="Environment" value="" />
		<add key="AkidoSignedStatus" value="SIGNED" />
		<add key="IsAkidoOrder" value="Y" />
		<add key="ZendeskWidgetURL" value="https://static.zdassets.com/ekr/snippet.js?key=25726505-eb07-4ff4-b440-622697752a79" />

		<add key="IsShowAllMyEncountersQueue" value="Y" />
		<add key="IsShowAllMyTasksQueue" value="Y" />
		<add key="IsShowAllMyOrdersQueue" value="Y" />
		<add key="IsShowAllMyScanQueue" value="Y" />
		<add key="IsShowAllMyPrescriptionQueue" value="Y" />
		<add key="IsShowAllMyAmendmentQueue" value="Y" />

		<add key="IsShowAllGeneralEncountersQueue" value="Y" />
		<add key="IsShowAllGeneralTasksQueue" value="Y" />
		<add key="IsShowAllGeneralOrdersQueue" value="Y" />
		<add key="IsShowAllGeneralAmendmentQueue" value="Y" />

		<add key="IISServer1" value="~/ConfigXML/" />
		<add key="IISServer2" value="" />

		<add key="TechVisitPhyIDs" value="4420" />
		<add key="ErroredFilePath_Local" value="\\10.1.0.12\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\Freeland\Errored_Studies\" />
		<add key="ErroredFilePathURL" value="https://capellascan.capellaehr.com:8081/EHR_Scanned_Images/capella_scanned_images_cmg_mt/Signed_Reports/Freeland/Errored_Studies/" />
		<add key="ReadJsonVersion" value="V2" />
		<add key="XsltTransformVersion" value="V2" />
		<add key="XsltTransformVersionForSummary" value="V2" />
		<add key="CapellaDocumentUrl" value="https:\\capellascan.capellaehr.com:8081\EHR_Documents" />
		<add key="ProviderLibraryVersion" value="V2" />
		<add key="ReadBlobVersion" value="V2" />

		<add key="CDCXMLRegenerationTimeOut" value="3600000" />
		<add key="CDCXmlBatchFileForHuman" value="E:\Acurus_Web\Batch_Files\CMG\MASTER_HUMAN_XML_ST\MASTER_HUMAN_XML_ST_run.bat" />
		<add key="CDCXmlBatchFileForEncounter" value="E:\Acurus_Web\Batch_Files\CMG\MASTER_ENCOUNTER_XML_ST\MASTER_ENCOUNTER_XML_ST_run.bat" />
		<add key="CDCXmlBatchFileForEncounterArc" value="E:\Acurus_Web\Batch_Files\CMG\MASTER_ENCOUNTER_XML_ARC_ST\MASTER_ENCOUNTER_XML_ARC_ST_run.bat" />

		<add key="LegalOrgForHydration" value="CMG" />
		<add key="LogRocketClientID" value="z5i4l8/capella-ehr-test" />
		<add key="IsEnableLogRocket" value="N" />
		<add key="AllocatedProcessForHydration" value="DOCUMENT_COMPLETE|PROVIDER_REVIEW" /> 
		<add key="ImportIndexingFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\BatchIndexingAutomation\Imported_Studies\"/>
		<add key="ExceptionIndexingFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\BatchIndexingAutomation\Errored_Studies\"/>
		<add key="AkidoCreateTaskURL"  value="https://chart-stage.akidolabs.com/patients/c/[CapellaHumanID]?action=communication"/>
		<add key="AkidoManageTasksURL"  value="https://akidolabs.quickbase.com/nav/app/bvfne4ba5/table/bvfne4bdm/action/q?query=%7B'55'.EX.'Task'%7DAND%7B'19'.EX.'[CapellaHumanID]'%7D"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="con" connectionString="Database=capella_cmg_deve;Data Source=172.18.0.11;User Id=root;Password=Capella@20!4;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />-->
		<add name="con" connectionString="Database=capella_cmg_wc_merge;Data Source=10.1.0.9;User Id=dbadmin@capellapoc;Password=KoU6Vty25bdufJeTOBVO;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />
		<!--<add name="con" connectionString="Database=capella_cmg;Data Source=prod-db-1-mysql8.mysql.database.azure.com;User Id=dbapp@prod-db-1-mysql8;Password=fdg0ahgZsFaDlC7xwY59;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />-->
		<!--<add name="con_replica" connectionString="Database=capella_cmg_deve;Data Source=172.18.0.11;User Id=root;Password=Capella@20!4;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />-->
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>-->
		<sessionState timeout="60" cookieSameSite="None" cookieless="false" mode="InProc"></sessionState>
		<httpCookies requireSSL="true" sameSite="None" />
		<httpRuntime maxRequestLength="1048576" requestValidationMode="2.0" maxQueryStringLength="2097151" maxUrlLength="30000"/>

		<trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<!--<add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
				<!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
				<!--<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
				<!--<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--<identity impersonate="true" userName="acurus112\gopal" password="Sollamaaten*"/>-->
		<!--<identity impersonate="true" userName="acurus112\balajit" password="Password3#"/>-->
		<!--<identity impersonate="true" userName="acurus141\software" password="Password1!"/>-->
		<!--<identity impersonate="true" userName="acurus136\software" password="Password1!"/>-->
		<!--<identity impersonate="true" userName="SOFTWARE\acurus" password="Password1!"/>-->
		<!--<customErrors mode="On" defaultRedirect="ErrorPage.aspx" redirectMode="ResponseRedirect">
      
    </customErrors>-->
		<!--<customErrors mode="Off">
      
    </customErrors>-->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2013.3.1114.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
		</httpHandlers>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web"/>
			</controls>
		</pages>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="RadUploadModule" preCondition="integratedMode" type="Telerik.Web.UI.RadUploadHttpModule" />
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
			<add name="ChartHandler" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
			<add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
			<remove name="WebDAV" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="12048" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<!--<jsonSerialization maxJsonLength="2000000000"/>-->
				<jsonSerialization maxJsonLength="2147483647" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ConvertCCDtoObjectSoap" maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="2147483647" maxArrayLength="1000000" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:52587/Services/ConvertCCDtoObject.asmx" binding="basicHttpBinding" bindingConfiguration="ConvertCCDtoObjectSoap" contract="CCDImport.ConvertCCDtoObjectSoap" name="ConvertCCDtoObjectSoap" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<Acurus.Capella.UI.Properties.Settings>
			<setting name="Acurus_Capella_UI_ImmSubmission_NIST_client_Service" serializeAs="String">
				<value>https://hl7v2-iz-r1.5-testing.nist.gov:8098/iztool/ws/iisService</value>
			</setting>
		</Acurus.Capella.UI.Properties.Settings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>