<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="con" connectionString="Database=capella_cmg_deve;Data Source=172.18.0.12;User Id=dbapp;Password=Db@pp$d25;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />
		<!--<add name="con" connectionString="Database=capella_cmg_deve;Data Source=172.18.0.11;User Id=root;Password=Capella@20!4;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />-->
		<!--<add name="con" connectionString="Database=capella_cmg_wc_merge;Data Source=10.1.0.9;User Id=dbadmin@capellapoc;Password=KoU6Vty25bdufJeTOBVO;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />-->
		<!--<add name="con" connectionString="Database=capella_cmg;Data Source=prod-db-1-mysql8.mysql.database.azure.com;User Id=dbapp@prod-db-1-mysql8;Password=fdg0ahgZsFaDlC7xwY59;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="sLegalOrgList" value="CMG,RJ,WC" />
		<add key="statTimeSpan" value="2" />
		<add key="withoutStatTimeSpan" value="60" />
		<add key="RCopiaTimeSpan" value="2"/>
		<add key="OrderTaskTimeSpan" value="2"/>
		<add key="AgentName" value="CDCXmlRegenerateJob"/> <!--DownloadRcopia,CreateOrderTask,OneTimeDownloadRcopia,CCDXmlGenerateAgent -->
		<add key="Incoming_StudiesFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\Freeland\Incoming_Studies"/>
		<add key="Imported_StudiesFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\Freeland\Imported_Studies"/>
		<add key="Errored_StudiesFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\Freeland\Errored_Studies"/>
		<add key="Scanned_Location" value="\\10.0.0.8\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\Freeland\Imported_Studies"/>
		<add key="Document_Sub_Type" value="ECHO"/>
		<add key="UNCPath" value="\\10.0.0.8\Acurus_Web\EHR_Documents\capella_documents_cmg_mt\" />
		<add key="UNCAuthPath" value="F:\Acurus_Web" />
		<add key="userName" value="adminuser" />
		<add key="Domain" value="texas" />
		<add key="Password" value="laserjet$99" />
		<add key="ftpServerIP" value="ftp://10.0.0.8/Acurus_Web/EHR_Documents/capella_documents_cmg_mt/" />
		<add key="ftpPassword" value="Azure$567" />
		<add key="ftpUserID" value="ftpuser" />
		<add key="LocalPath" value="C:\Capella_Images" />
		<add key="FacilityNameForResults" value="1904 N OG AVE" />
		<add key="AkidoNoteCDCURL" value="https://test.capellaehr.com/api/ProgressNotesService/LoadProgressNotes?sHumanID=[CapellaHumanID]&amp;sEncounterID=[CapellaEncounterID]&amp;transactionBy=[CapellaTransactionBy]&amp;transactionDateTime=[CapellaTransactionDateTime]&amp;sRetryCount=[CapellaTransactionRetryCount]" />
		<add key="AkidoNoteCDCURLToken" value="G4iXST2jRQ3RFwK7dzl0JjTzq9XjB6p3TCKljbofHp8B9ggcUO-ECXsioKqvzCEV38kX4xq-vXi_YGf3AGi9QAs6-g" />
		<add key="Duration" value="1" />
		<add key="IncomingIndexingFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\BatchIndexingAutomation\Incoming_Files"/>
		<add key="ImportIndexingFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\BatchIndexingAutomation\Imported_Files"/>
		<add key="ExceptionIndexingFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\BatchIndexingAutomation\Errored_Files"/>
		<add key="CompletedTextFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\BatchIndexingAutomation\Completed_Text_Files"/>
		<add key="ECMSummaryPathName" value="E:\CCD_Files/" />
		<add key="ECMFacilityName" value="('LA STREET MEDICINE', 'LA ECM')"/>
		<add key="XmlBatchFileForCCD" value="E:\Acurus_Web\CCD_Generation\Altova_CCD_Generation.exe" />
		<add key="CCDOutputLocation" value="E:\Acurus_Web\output_xml\Final_CCD.xml" />
		<add key="TimeOut" value="5" />
		<add key="iNumberOfRetry" value="3" />

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>