<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<!--<add name="con" connectionString="Database=capella_cmg_deve;Data Source=172.18.0.11;User Id=root;Password=Capella@20!4;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />-->
		<add name="con" connectionString="Database=capella_cmg_wc_merge;Data Source=capellapoc.mysql.database.azure.com;User Id=dbadmin@capellapoc;Password=KoU6Vty25bdufJeTOBVO;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />
		<!--<add name="con" connectionString="Database=capella_cmg;Data Source=prod-db-1-mysql8.mysql.database.azure.com;User Id=dbapp@prod-db-1-mysql8;Password=fdg0ahgZsFaDlC7xwY59;Allow Zero Datetime=True;Connect Timeout=120;Port=3306;" providerName="MySql.Data.MySqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="sLegalOrgList" value="CMG,RJ,WC" />
		<add key="statTimeSpan" value="2" />
		<add key="withoutStatTimeSpan" value="60" />
		<add key="RCopiaTimeSpan" value="2"/>
		<add key="OrderTaskTimeSpan" value="2"/>
		<add key="AgentName" value="ImageResultsAgent"/> <!--DownloadRcopia,CreateOrderTask -->
		<add key="Incoming_StudiesFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\Freeland\Incoming_Studies"/>
		<add key="Imported_StudiesFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\Freeland\Imported_Studies"/>
		<add key="Errored_StudiesFilePath" value="E:\EcoFiles\Acurus_Web\EHR_Scanned_Images\Capella_Scanned_Images_CMG\Signed_Reports\Freeland\Errored_Studies"/>
		<add key="Document_Sub_Type" value="ECHO"/>
		<add key="UNCPath" value="\\10.0.0.8\Acurus_Web\EHR_Documents\capella_documents_cmg_mt\" />
		<add key="UNCAuthPath" value="F:\Acurus_Web" />
		<add key="userName" value="adminuser" />
		<add key="Domain" value="texas" />
		<add key="Password" value="laserjet$99" />
		<add key="ftpServerIP" value="ftp://10.0.0.8/Acurus_Web/EHR_Documents/capella_documents_cmg_mt/" />
		<add key="ftpPassword" value="Azure$567" />
		<add key="ftpUserID" value="ftpuser" />
		<add key="LocalPath" value="C:\Capella_Images" />
		<add key="FacilityNameForResults" value="1904 N OG AVE" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>